*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
buildSrc/build

# Custom
/app/release/
/.idea/
/app/google-services.json

# Built application files
*.apk
*.ap_
*.aab

# Keystore files
/app/lifting.jks
/keystore.properties

